.heading {
  font-family: "Madina", serif;
  font-size: 120px;

  margin-bottom: -30px;
}

.paragraph {
  font-size: 22px;
  font-weight: 500;
}

.box {
  border: 2px solid green;
  border-radius: 5px;
}
